<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saike.grape.dao20.impl.basic.CityDAOImplMapper">
    <resultMap id="CityResultMap" type="city">
        <id column="id" property="id" javaType="java.lang.Long"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="cityCode" property="cityCode" jdbcType="CHAR"/>
        <result column="cityName" property="cityName" jdbcType="CHAR"/>
        <result column="areaCode" property="areaCode" jdbcType="INTEGER"/>
        <result column="areaName" property="areaName" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="parentCode" property="parentCode" jdbcType="VARCHAR"/>
        <result column="fullPath" property="fullPath" jdbcType="VARCHAR"/>
        <result column="createdDatetime" property="createdDatetime" jdbcType="VARCHAR"/>
        <result column="updatedDatetime" property="updatedDatetime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllCityList" parameterType="map" resultType="city">
        SELECT id,code,name,level,parentCode,
        fullPath,description,createdDatetime,
        updatedDatetime
        FROM ${table_name} WHERE actived = true AND deleted = false
    </select>

    <select id="getTreeNodeList" parameterType="map" resultType="city">
        SELECT id,code,name,level,parentCode,
        fullPath,description,createdDatetime,
        updatedDatetime
        FROM ${table_name} WHERE parentCode IS NULL
        AND actived = true AND deleted = false
    </select>

    <select id="getTreeBranchList" parameterType="map" resultType="city">
        SELECT id,code,name,level,parentCode,
        fullPath,description,createdDatetime,
        updatedDatetime
        FROM ${table_name} WHERE actived = true AND deleted = false
        AND parentCode = '${brandPath}'
    </select>

    <select id="getTreeLeafList" parameterType="map" resultType="city">
        SELECT id,code,name,level,parentCode,
        fullPath,description,createdDatetime,
        updatedDatetime
        FROM ${table_name} WHERE actived = true AND deleted = false
        AND parentCode = '${velseriesPath}'
    </select>

    <select id="getTreeNodeByCodeList" parameterType="map" resultType="city">
        SELECT id,code,name,level,parentCode,
        fullPath,description,createdDatetime,
        updatedDatetime
        FROM ${table_name} WHERE actived = true AND deleted = false
        AND code in
        <foreach item="item" index="index" collection="code" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    
    <select id="getCityList"  parameterType="map" resultType="city">
        SELECT code,name,level,parentCode,
        fullPath,description,createdDatetime,updatedDatetime 
        FROM ${table_name} WHERE actived = true AND deleted = false 
        AND level = 3
    </select>

    <select id="getAreaList" parameterType="map" resultType="city">
        SELECT code,name,level,parentCode,
        fullPath,description,createdDatetime,updatedDatetime
        FROM ${table_name} WHERE actived = true AND deleted = false
        AND level = 4
    </select>
    
    <select id="getCityByName" parameterType="map" resultType="city">
        SELECT code,name,level,parentCode,
        fullPath,description,createdDatetime,updatedDatetime 
        FROM ${table_name} WHERE actived = true AND deleted = false 
        AND level = 3 AND name = #{name}
    </select>

    <select id="getDealerAreaList" parameterType="map" resultType="city">
        select c.* from t_city c where c.`parentCode`= #{cityCode} and
        exists(
            select * from t_dealer d
            <if test="vehicleCode != null and vehicleCode != ''">
                inner join t_dealer_vehicle v on d.code=v.dealerCode and v.vehicleCode=#{vehicleCode}
            </if>
             where d.areaCode=c.code
            <if test="dealerCodesInclude != null">
                and d.code in
                <foreach item="dealerCode" index="index" collection="dealerCodesInclude" open="(" close=")" separator=",">
                    #{dealerCode}
                </foreach>
            </if>
        )
    </select>

    <insert id="insertSelective" parameterType="city" useGeneratedKeys="true" keyProperty="id">
        insert into t_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="parentCode != null">
                parentCode,
            </if>
            <if test="fullPath != null">
                fullPath,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="actived != null">
                actived,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
			<if test="createdDatetime != null">
                createdDatetime,
            </if>
            <if test="updatedDatetime != null">
                updatedDatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="level != null">
                #{level},
            </if>
            <if test="parentCode != null">
                #{parentCode},
            </if>
            <if test="fullPath != null">
                #{fullPath},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="actived != null">
                #{actived},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createdDatetime != null">
                #{createdDatetime},
            </if>
            <if test="updatedDatetime != null">
                #{updatedDatetime},
            </if>
        </trim>
    </insert>

	<update id="updateCity" parameterType="city">
		UPDATE t_city
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="level != null">
				level = #{level},
			</if>
			<if test="parentCode != null">
				parentCode = #{parentCode},
			</if>
			<if test="fullPath != null">
				fullPath = #{fullPath},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="actived != null">
			     actived = #{actived},
			</if>
			<if test="deleted != null">
                 deleted = #{deleted},
            </if>
			<if test="updatedDatetime != null">
				updatedDatetime = #{updatedDatetime},
			</if>
		</set>
		WHERE code = #{code}
	</update>
    
</mapper> 